@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    overflow-x: hidden;
    background-color: #282828;
}
/* navbar */
.nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    min-height: 10vh;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    font-style: normal;
    color: #FFFFFF;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo{
    color: #fff;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 10px;
}

.nav-list{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-around;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    align-items: center;
    margin-right: 10%;
}
.nav a{
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 15%;
    border-radius: 10px;
}
.nav a:hover{
    color: #000000;
    transition: 0.5s;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    background-color: #ffffff;
}
/* navbar */

/* header */
.header{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: #282828;
    color: #fff;
}
.left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.left img{
    border-radius: 50%;
    width: 60%;
    height: 60%;
    object-fit: contain;
    object-position: center;
    margin-left: 20px;
    margin-right: 20px;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-right: 5%;

}
.right h1{
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 72px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.right h2{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right:50%;
}

/* header */

/*main*/
.sobre{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282828;
    color: #fff;
}

.sobre h1{ 
    margin-top: 25px;
    font-style: normal;
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sobre p{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    font-family: releway, sans-serif;
}

.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-height: 80vh;
    background-color: #282828;
    color: #fff;
}

.aboutImg{
    align-items: center;
    width: 50%;
    border-radius: 50%;
    margin-left: 30%;
}

.right-about{
    align-items: center;
    width: 50%;
    margin-right: 15%; 
}

.right-about p{
    font-style: normal;
    font-size: 15px;
    text-align: center;
    color: #FFFFFF;
    font-family: raleway, sans-serif;
}
.right-about p a{
    text-decoration: none;
    color: #000fe3;
    transition: 0.5s;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
}
.right-about button{
    font-style: normal;
    margin-top: 3%;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
}

.right-about button:hover{
    background-color: #fff;
    font-weight: 500;
    color: #000000;
    transition: 0.5s;
}

.aboutInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    color: #FFFFFF;
}

.aboutInfoItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 24px;
    text-align: center;
}

.aboutInfoItem span{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

.aboutInfoItem p{
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    color: #FFFFFF;
}

/* Skills section */
.habilidades {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.habilidades h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.tecnologiasHabilidades {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.tecnologiasHabilidades > div {
    flex: 1;
    background-color:#282828; 
    padding: 20px;
    border-radius: 8px;
}

.tecnologiasHabilidades h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #f5f6fa; 
}

.tecnologiasHabilidades ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tecnologiasHabilidades li {
    background-color: #FFFFFF; 
    padding: 8px 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1em;
    color: #2c2c34; 
}

h1 {
    text-align: center;
    font-size: 3em;
    margin: 20px 0;
    color: #FFFFFF;
}

.timeline {
    width: 100%;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 0;
    position: relative; 
    margin-top: 20px;
}

.timeline-item {
    flex: 1;
    padding: 10px 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.timeline-item:hover {
    transform: scale(1.1); 
}

.timeline-item .year {
    font-weight: bold;
    font-size: 1.3em;
    color: #f0db4f; 
}

.timeline-item p {
    font-size: 1em;
    margin-top: 5px;
    color: #ddd;
}


.timeline {
    overflow-x: hidden;
    white-space: nowrap;
}


.servicosContainer {
    display: flex;
    justify-content: space-around;
}

.servico {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    width: 30%;
}

.servico img {
    width: 50px;
    height: 50px;
}

.infoCard {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.infoCardContent {
    padding: 20px;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


.carrossel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carrosselContainer {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrosselItem {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.carrosselItem img {
    width: 100%;
    height: auto;
}

.githubButton {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.prevBtn, .nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prevBtn {
    left: 10px;
}

.nextBtn {
    right: 10px;
}
/*main*/